.footer{
    height: 70px;
    width: 100%;
    
    background-color: #22292f;
    padding: 10px 15px;
    color: #dae1e7;
}

.footer p {
    max-height: 70px;
    padding: 15px 0;
    text-align: center;
}